# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.venv
env/
ENV/

# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Build
/build
/dist

# Mac
.DS_Store

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project specific
/backend/uploads/
/backend/instance/
